<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-hospital-edit" th:object="${hospitalHospital}">
        <input name="hospitalId" th:field="*{hospitalId}" type="hidden">
        <div class="form-group">
            <label class="col-sm-3 control-label">医院名称：</label>
            <div class="col-sm-8">
                <input name="hospitalName" th:field="*{hospitalName}" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "register/hospital";
    $("#form-hospital-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-hospital-edit').serialize());
        }
    }
</script>
</body>
</html>
